.container {
  display: flex;
  flex: 1;
  height: 100%;
}

#cy {
  flex: 1;
  min-height: 300px;
}

html, body {
  height: 100%;
  margin-top: 0px;
  margin-left: 0;
}

#left-panel {
  border-right: 1px solid gray;
  padding-top: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 1rem;
  overflow-y: scroll;
}

#var-list {
  padding-left: 1rem;
}

#var-list > * {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  border-bottom: 1px solid black;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}

#reset-focus-btn {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#var-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: 1px solid black;
  max-width: 20rem;
  background-color: white;
}
